.container{
    margin-bottom: 100px;
}
.orange-bg{
  border-radius: 10px;
}
.text{
    color: yellow;
    
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, black 100%, white 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border-radius: 20px;
    box-shadow:  5px 5px 10px lightgray;
    text-align: center;
    
}
.navnav-link active{
    color: yellow;
}
.about-us{
    height: 100px;

}
    
    .text3{
        text-align: center;

    }
    .carousel-indicators li{
        width: 20px;
        height: 8px;
        border: none;
        border-radius: 4px;
        background-color: #CECECE;
        }
     .carousel-indicators li.active{
        width: 35px;
        height: 10px;
        border-radius: 8px; 
        background-image: linear-gradient(145deg,#f1c40f,#e67e22);
        }
    .text2 {
            height: 8px;
            background-color: orange;
            border-radius: 10px;
            margin: 0 auto;
            width: 100px;
            margin-bottom: 20px;
            position: relative;
            text-align: center;
            right: -25px;
            text-underline-position:below;
            }